body {
    width: 100%;
    background: url(../img/phone.png);
    background-size: 100% 100%; 
    font-family: 'Ubuntu', sans-serif;
}

.conteiner {
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.25);
    width: 100%;
}



.logo-text {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-left: 80px;
}

.logo-text:hover {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #3CB878;
    transition: 300ms;
}

.right {
    display: flex;
}

.logo-icons {
    width: 126px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 17px;
    margin-bottom: 17px;
    margin-right: 25px;

}


a:hover .icon {
    fill: rgba(60, 184, 120, 1);
    transition: 300ms;
}

.icon {
    fill: rgba(255, 255, 255, 1);
    width: 23px;
    height: 24px;
}

.icon:hover {
    fill: rgba(60, 184, 120, 1);

}



.sign-up{
    border-left: 1px solid rgba(255, 255, 255, 0.9);
    padding-left: 27px;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 22px;
    margin-bottom: 22px;
    margin-right: 78px;
}

.sign-up:hover {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    transition: 300ms;
}

.sign-up-text, .login, .signup{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    padding-top: auto;
    padding-bottom: auto;
}


.login:hover {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: rgba(60, 184, 120, 1);
    transition: 300ms;
}
.signup:hover {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: rgba(60, 184, 120, 1);
}

.main {
    width: 100%;
    height: 100%;
}

.form {
    width: 444px;
    height: 584px;
    background: #FFFFFF;
    margin: 54px auto;
}

.box{
    width: 18px;
    height: 18px;
    background: #3CB878;
    position: relative;
    top: 29px;
}

.head-form{
    display: flex;
    justify-content: space-around;
    margin-top: 11px;
    margin-bottom: 15px;
}

.sign-up-form {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    margin: 0;
}

.log-in {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #3CB878;
}

.log-in:hover {
    text-decoration: underline solid #01813F;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.button-fb-g {
    width: 160px;
    height: 48px;
    background: #305DB8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-fb-g:hover {
    background:rgba(2, 34, 99, 1);
}

.icon-fb {
    border-right: 1px solid rgba(10, 22, 47, 0.1);
    padding-right: 18px;
}
.button-g {
    width: 160px;
    height: 48px;
    background: #DF4A32;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-g:hover{
    background:rgba(171, 31, 9, 1);
}

.icon-g {
    border-right: 1px solid rgba(43, 13, 9, 0.1);
    padding-right: 7px;
}

.button-text {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}


.or {
    text-align: center;
    overflow: hidden;
    
}

.or-text {
    display: inline-block;
    position: relative;
    color: #848484;
}

.or-text:before,
.or-text:after {
    content: '';
    position: absolute;
    top: 50%;
    height: 1px;
    background: #F2F2F2;
}

.or-text:before {
    right: 100%;
    left: -1000%;
}

.or-text:after {
    left: 100%;
    right: -1000%;
}


.form-reg {
    margin-right: 60px;
    margin-left: 60px;
}

.form-reg:last-child {
    margin-bottom: 0;
}

.form-field1 {
    width: 322px;
    height: 44.08px;
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    font-family: 'Ubuntu';
    font-style: normal;
    margin-top: 15px;
    border: 1px solid rgba(242, 242, 242, 1);
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 15px;
    
}

.form-field1:focus {
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    border-radius: 4px;
    outline: none;
}




.checkbox {
    position: relative;
    margin-top: 12px;
}

.checkbox-input {
    appearance: none;
    position: absolute;
}

.checkbox-label {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    padding-left: 28px;
    cursor: pointer;
}
.checkbox-label::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    background: rgba(0, 0, 0, 0.0001);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.checkbox-label::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url(../icon/check.svg);
    background-size: 20px 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
}

.checkbox-input:checked + .checkbox-label::after {
    opacity: 1;
}

.chechbox1 {
    color: rgba(60, 184, 120, 1)
}

.chechbox1:hover {
    text-decoration: underline solid #01813F;
}

.creatacc {
    width: 324px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
}

.creatacc:hover {
    border: none;
    background: rgba(1, 129, 63, 1);
}

.creata-text {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}